* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.div1 {
  width: 200px;
  height: 200px;
  background-color: rgb(85, 241, 241);
  display: inline-block;
}
.div2 {
  width: 100px;
  height: 100px;
  background-color: rgb(85, 241, 241);
  display: inline-block;
  margin-left: 100px;
}
.div3 {
  width: 100px;
  height: 100px;
  background-color: rgb(85, 241, 241);
  margin-top: 30px;
}

.div4 {
  width: 200px;
  height: 200px;
  background-color: rgb(85, 241, 241);
  display: inline-block;
  position: absolute;
  left: 48%;
  top: 25%;
}
