* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 250px;
  height: 400px;
  background-color: black;
  position: relative;
}
.child1,
.child2 {
  width: 100px;
  height: 100px;
  background-color: wheat;
  margin: 0 auto;
}
.child2 {
  margin-top: 80%;
}
