* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 380px;
  height: 200px;
  background-color: black;
  position: relative;
  float: right;
  top: 70vh;
}
.child1 {
  float: right;
  width: 130px;
  height: 130px;
  background-color: azure;
}
.child2 {
  width: 130px;
  height: 130px;
  background-color: rgb(255, 255, 21);
  position: absolute;
  bottom: 0;
}
