* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div1,
.div2 {
  width: 150px;
  height: 150px;
  background-color: black;
}

.div2 {
  background-color: aqua;
  left: 60px;
  top: 60px;
  position: absolute;
}
