* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div1,
.div2,
.div3 {
  margin: 20px;
  background-color: rgb(0, 0, 0);
  width: 130px;
  height: 130px;
  display: inline-block;
}

.div3 {
  position: absolute;
  left: 1100px;
}
.div2 {
  position: absolute;
  left: 930px;
}
