* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 400px;
  height: 250px;
  background-color: black;
  margin: 20px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.child1,
.child2 {
  width: 100px;
  height: 100px;
  background-color: wheat;
}
