* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 300px;
  height: 500px;
  background-color: black;
  position: relative;
}

.secondParent {
  width: 200px;
  height: 200px;
  background-color: aqua;
  position: absolute;
  bottom: 0;
  right: 0;
}
.child {
  width: 150px;
  height: 150px;
  background-color: blueviolet;
  position: absolute;
  right: 5%;
  bottom: 5%;
}
