* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  background-color: aquamarine;
  display: block;
  width: 100%;
  height: 15vh;
}

.main-div {
  display: flex;
  margin-top: 20px;
}

.first-section {
  background-color: blue;
  width: 80vw;
  height: 30vh;
  align-items: flex-start;
}
.second-section {
  background-color: rgb(56, 221, 15);
  width: 80vw;
  height: 30vh;
}
.third-section {
  background-color: blueviolet;
  width: 20vw;
  height: 60vh;
}
.foot {
  background-color: brown;
  height: 18vh;
  margin-top: 22px;
}
@media (max-width: 900px) {
  .first-section {
    background-color: blue;
    width: 50vw;
    height: 30vh;
  }
  .second-section {
    background-color: rgb(56, 221, 15);
    width: 50vw;
    height: 30vh;
  }
  .third-section {
    background-color: blueviolet;
    width: 50vw;
    height: 60vh;
  }
}
@media (max-width: 600px) {
  .main-div {
    display: flex;
    flex-direction: column;
  }
  .first-section {
    background-color: blue;
    width: 100vw;
    height: 20vh;
  }
  .second-section {
    background-color: rgb(56, 221, 15);
    width: 100vw;
    height: 20vh;
  }
  .third-section {
    background-color: blueviolet;
    width: 100vw;
    height: 20vh;
  }
}
