* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.head {
  background-color: aquamarine;
  display: block;
  width: 100%;
  height: 15vh;
  margin-bottom: 15px;
}
.main-div {
  display: flex;
  flex-direction: row;
}
.first-section {
  background-color: blue;
  order: 2;
  width: 50vw;
  height: 60vh;
}
.second-section {
  background-color: brown;
  order: 1;
  width: 25vw;
  height: 60vh;
}
.third-section {
  background-color: yellowgreen;
  order: 2;
  width: 25vw;
  height: 60vh;
}
.foot {
  width: 100vw;
  height: 20vh;
  background-color: violet;
  margin-top: 15px;
}

@media (max-width: 900px) and (min-width: 600px) {
  .main-div {
    display: flex;
    flex-wrap: wrap;
  }
  .first-section {
    order: 1;
    width: 100%;
    height: 40vh;
  }
  .second-section {
    flex: 1 1 50%;
    height: 20vh;
  }
  .third-section {
    flex: 1 1 50%;
    height: 20vh;
  }
}
@media (max-width: 600px) {
  .main-div {
    display: flex;
    flex-direction: column;
  }
  .first-section {
    order: 1;
    width: 100%;
    height: 30vh;
  }
  .second-section {
    width: 100%;
    height: 15vh;
  }
  .third-section {
    width: 100%;
    height: 15vh;
  }
}
