* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parent {
  width: 300px;
  height: 300px;
  background-color: aquamarine;
  position: absolute;
  right: 0;
}
.child {
  width: 150px;
  height: 150px;
  background-color: blue;
  position: absolute;
  bottom: 0;
  right: 0;
}
