* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.parentDiv {
  width: 350px;
  height: 350px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
}
.childDiv {
  width: 150px;
  height: 150px;
  background-color: aqua;
}
