* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.first,
.second,
.third,
.fourth,
.fifth,
.six {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
}
.second {
  position: absolute;
  top: 10%;
  left: 10%;
  background-color: rgb(74, 74, 218);
}
.third {
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: rgb(125, 140, 190);
}
.fourth {
  position: absolute;
  top: 30%;
  left: 30%;
  background-color: rgb(102, 211, 160);
}
.fifth {
  position: absolute;
  top: 40%;
  left: 40%;
  background-color: rgb(186, 91, 209);
}
.six {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: rgb(248, 77, 85);
}
