* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div1,
.div2,
.div3 {
  width: 150px;
  height: 150px;
  background-color: black;
}

.div2 {
  margin: 0 auto;
}

.div3 {
  float: right;
}
