* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 400px;
  height: 200px;
  background-color: black;
  position: relative;
}
.child1 {
  background-color: blueviolet;
  width: 150px;
  height: 150px;
  position: absolute;
  right: 0;
}
