* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.parentDiv {
  width: 300px;
  height: 500px;
  background-color: black;
}
.child1 {
  width: 200px;
  height: 200px;
  background-color: brown;
  position: absolute;
  bottom: 16%;
  left: 15%;
}
.child2 {
  width: 150px;
  height: 150px;
  background-color: rgb(43, 255, 0);
  position: absolute;
  bottom: 5%;
  left: 10%;
}
