* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.div1,
.div2,
.div3 {
  width: 150px;
  height: 150px;
  background-color: black;
}
.div1 {
  position: relative;
  left: 89%;
}
.div2 {
  margin: 0 auto 0 auto;
}
